{% extends 'general/base.html' %}

{% block body %}

    <div class="w-100 h-100 bg-dark">
        <div class="container h-100">
            <div class="row h-100 no-gutters d-flex flex-wrap align-content-center justify-content-center">
                <div class="col-sm-6 d-flex fle-wrap align-content-center justify-content-center">
                    <a href="{% url 'register' %}" class="btn btn-info">NEW CUSTOMER</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}